.zoom-actions {
    button {
        margin-left: 25px;
    }
    #data-upload {
        display: none;
    }
    .tag-selection {
        width: 120px;
        margin-left: 25px;
    }
}
.chart-container {
    // position: relative;
    display: inline-block;
    width: 1000px !important;
    height: 600px !important;
    overflow: auto;
    .chart-parent {
        // width: 15000px;
        position: relative;
        min-width: 100%;
        height: 100%;
        &.zoom-2 {
            width: 2000px;
        }
        &.zoom-3 {
            width: 3000px;
        }
        &.zoom-4 {
            width: 4000px;
        }
        &.zoom-5 {
            width: 5000px;
        }
        &.zoom-6 {
            width: 6000px;
        }
        // &.zoom-7 {
        //     width: 7000px;
        // }
        // &.zoom-8 {
        //     width: 8000px;
        // }
        // &.zoom-9 {
        //     width: 9000px;
        // }
        // &.zoom-10 {
        //     width: 10000px;
        // }
        // &.zoom-11 {
        //     width: 11000px;
        // }
        // &.zoom-12 {
        //     width: 12000px;
        // }
        #overlay,
        #chartJSContainer {
            // width: 15000px !important;
            // height: 600px !important;
            width: 100% !important;
            height: 100% !important;
        }
        #overlay {
            position: absolute;
            pointer-events: none;
        }
    }
}
.select-tag {
    margin-top: 30px;
    vertical-align: top;
    display: inline-block;
}
select {
    width: 200px;
}