<div>
  <h3>Mangers</h3>
  <app-table
    [getTableRowData]="managersList"
    [tableHeaderData]="managerFields">
    <ng-template let-data>
      <td>
          <a [routerLink]="data?.id">
            {{ data?.user?.username }}
          </a>
      </td>
    </ng-template>
    <ng-template let-data>
      <td>
        {{ data?.user?.first_name }} {{ data?.user?.last_name }}
      </td>
    </ng-template>
    <ng-template let-data>
      <td>
        {{ data?.user?.email }}
      </td>
    </ng-template>
    <ng-template let-data>
      <td>
        {{ data?.invite_status }}
      </td>
    </ng-template>
    <ng-template let-data>
      <td>
        {{ data?.user?.date_joined | date: 'yyyy/MM/dd' }}
      </td>
    </ng-template>
    <ng-template let-data>
      <td>
        {{ data?.price_per_annotation }}
      </td>
    </ng-template>
  </app-table>
  <h3>Annotators</h3>
  <app-table
    [getTableRowData]="anotatorsList"
    [tableHeaderData]="anotatorFields">
  </app-table>
</div>