<div class="forgot-password-content">
  <form nz-form
    *ngIf="formStatus==='forgot'"
    class="reset-password-form"
    [formGroup]="forgotForm"
    (ngSubmit)="resetPassword($event, forgotForm.value)">
    <nz-form-item>
      <nz-form-control nzHasFeedback
        [nzValidateStatus]="formError['email'] ? 'error' : null">
        <nz-input-group [nzPrefix]="prefixMail">
          <input type="email"
            nz-input
            formControlName="email"
            placeholder="email"/>
        </nz-input-group>
        <nz-form-explain *ngIf="forgotForm.get('email')?.dirty && forgotForm.get('email')?.errors">
          Please input your email!
        </nz-form-explain>
        <nz-form-explain *ngIf="forgotForm.get('email')?.dirty && formError['email']">
          {{ formError['email'] }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button
          nz-button
          [nzType]="'primary'"
          class="reset-password-form-button">
          Reset Password
        </button>
        <a class="back-to-login"
          routerLink="/login">
          Back to Login
        </a>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div class="reset-password-message"
    *ngIf="formStatus==='msg'">
    <h3>Check your inbox.</h3>
    <p>We've emailed you instructions for setting your password.</p>
    <p>You should receive the email shortly!</p>
    <a
      nz-button
      class="reset-password-form-button"
      [nzType]="'primary'"
      routerLink="/login">
      Back to Login
    </a>
  </div>
  <ng-template #prefixMail><i nz-icon type="mail"></i></ng-template>
</div>
