.user-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 5px;
    max-width: 500px;
    // .key {
    //     color: rgba(0, 0, 0, 0.65);
    // }
    .value {
        color: #000000;
    }
}
.change-password {
    max-width: 500px;
    .submit-btn {
        margin-right: 10px;
    }
}