.app-content {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
::ng-deep {
  app-pages,
  app-login,
  app-register,
  app-forgot-password,
  app-reset-password {
    width: 100%;
  }
}