<div class="reset-password-content">
  <form nz-form
    class="reset-password-form"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="resetPassword($event, resetPasswordForm.value)">
    <nz-form-item>
      <nz-form-control nzHasFeedback
        [nzValidateStatus]="formError['password'] ? 'error' : null">
        <nz-input-group [nzPrefix]="prefixLock">
          <input nz-input
            type="password"
            placeholder="Password"
            formControlName="newPassword"/>
        </nz-input-group>
        <nz-form-explain *ngIf="resetPasswordForm.get('newPassword')?.dirty && resetPasswordForm.get('newPassword')?.errors">
          Please input your Password!
        </nz-form-explain>
        <nz-form-explain *ngIf="resetPasswordForm.get('newPassword')?.dirty && formError['password']">
          {{ formError['password'] }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzHasFeedback>
        <nz-input-group [nzPrefix]="prefixLock">
          <input nz-input
            type="password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"/>
        </nz-input-group>
        <nz-form-explain
          *ngIf="resetPasswordForm.get('confirmPassword')?.dirty && resetPasswordForm.get('confirmPassword')?.errors">
          Please confirm your Password!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button
          class="reset-password-form-button"
          [nzType]="'primary'">
          Reset Password
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
</div>
  