.dashboard-content {
    display: flex;
    margin-left: -24px;
    .project-files-menu {
        display: flex;
        flex-direction: column;
        .project-files {
            flex: 1;
        }
    }
}