<div class="dashboard-content">
  <div class="project-files-menu">
    <button
      nz-button
      [nzType]="'primary'"
      (click)="toggleCollapsed()"
      style="margin-bottom: 10px;">
      <i nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
    </button>
    <ul
      nz-menu
      class="project-files"
      nzTheme="light"
      [nzMode]="'inline'"
      [nzInlineCollapsed]="isCollapsed">
      <li
        nz-menu-item
        nz-tooltip
        nzPlacement="right"
        [nzTitle]="isCollapsed ? 'data-set'+i : ''"
        *ngFor="let i of [1, 2, 3, 4, 5]">
        <span title>
          <i nz-icon type="database"></i>
          <span>data-set-{{i}}</span>
        </span>
      </li>
    </ul>
  </div>
  <app-chart></app-chart>
</div>
