<nz-table
  #filterTable
  [nzData]="listOfDisplayData"
  [nzPageSize]="nzPageSize"
  [nzPageSizeOptions]="nzPageSizeOptions"
  nzShowSizeChanger>
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th
        nzShowCheckbox
        [(nzChecked)]="isAllDisplayDataChecked"
        [nzIndeterminate]="isIndeterminate"
        (nzCheckedChange)="checkAll($event)"
      ></th>
      <th nzShowSort
        [nzSortKey]="head.key"
        *ngFor="let head of tableHeaderData | keyvalue: returnZero">
        {{ head.value }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td
        nzShowCheckbox
        [(nzChecked)]="mapOfCheckedId[data?.id]"
        (nzCheckedChange)="refreshStatus()"
      ></td>
      <ng-container *ngFor="let head of tableHeaderData | keyvalue: returnZero">
        <td *ngIf="linkFieldKeys.includes(head.key)">
          <a [routerLink]="data?.id">
            {{ data[head.key] }}
          </a>
        </td>
        <td *ngIf="timeFieldKeys.includes(head.key)">
          {{ data[head.key] | date: 'yyyy/MM/dd' }}
        </td>
        <td *ngIf="!timeFieldKeys.includes(head.key) && !linkFieldKeys.includes(head.key)">
          {{ data[head.key] }}
        </td>
      </ng-container>
      <!-- <ng-container *ngFor="let head of tableHeaderData | keyvalue: returnZero">
        <ng-container [ngTemplateOutlet]="cellTemplates" [ngTemplateOutletContext]="{$implicit: data}" >
        </ng-container>
      </ng-container> -->
    </tr>
  </tbody>
</nz-table>
