<nz-modal
  [(nzVisible)]="showModal"
  nzTitle="Add new manger"
  (nzOnCancel)="closeModal()"
  [nzOkText]="null">
  <form
    nz-form
    [formGroup]="validateForm"
    (ngSubmit)="submitForm($event, validateForm.value)">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Username</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="username" placeholder="Username" type="text" />
        <nz-form-explain
          *ngIf="validateForm.get('username')?.dirty && validateForm.get('username')?.hasError('required')">
          Please input Username
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Email</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="email" placeholder="email" type="text" />
        <nz-form-explain
          *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.hasError('required')">
          Please input Email
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input
          nz-input
          type="password"
          formControlName="password"
          placeholder="Password"/>
        <nz-form-explain
          *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">
          Please input your Password!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [class.has-error]="validateForm.hasError('notSame')">
        <input
          nz-input
          type="password"
          formControlName="confirmPassword"
          placeholder="confirm Password"/>
        <nz-form-explain
          *ngIf="validateForm.hasError('notSame')">
          Passwords do not match!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">First Name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="firstName" placeholder="First Name" type="text" />
        <nz-form-explain
          *ngIf="validateForm.get('firstName')?.dirty && validateForm.get('firstName')?.hasError('required')">
          Please input First Name
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Last Name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="lastName" placeholder="Last Name" type="text" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Company Role</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="companyRole" placeholder="Company Role" type="text" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Price</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <nz-input-number
          formControlName="price"
          [nzStep]="1"
          [nzPlaceHolder]="'Price per annotator'"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Status</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-select style="width: 120px;" formControlName="status" nzPlaceHolder="Status">
          <nz-option nzValue="H" nzLabel="hold"></nz-option>
          <nz-option nzValue="A" nzLabel="active"></nz-option>
          <nz-option nzValue="R" nzLabel="removed"></nz-option>
          <nz-option nzValue="C" nzLabel="canceled"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
        <button nz-button (click)="resetForm($event)">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>